body{
    background-image: url(bc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    margin-top: 50px;
    text-align: center;
    text-decoration: double;
    font-size:9em;
}
.main{
    margin-left: 590px;
    display: inline-block;
    align-items: center;
    border: 10px solid black;
    border-radius: 10%;
}
#count{
    margin-top: 20px;
    display:block;
    text-align:center;
    font-size: 10em;
    font-family: Helvetica, sans-serif;
    margin-bottom: 20px;
}
#btncon{
    text-align: center;
}
.buttons{
padding: 10px 20px;
margin: 10px 20px 20px 20px;
font-size: 1.5em;
color: white;
background-color: blueviolet;
border-radius: 5px;
cursor:pointer;
transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(255, 0, 157);
} 